<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JSONTree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="json-viewer">

  <div class="half-containers">
    <div class="btn-menu">
      <a class="btn btn-editor btn-format" (click)="formatJson()"></a>
      <a class="btn btn-editor btn-compact" (click)="compactJson()"></a>
    </div>

    <textarea id="txtInput" [(ngModel)]="jstring" (ngModelChange)="jsonChange($event)"
      placeholder="please enter json value here"></textarea>
  </div>

  <div id="result" class="half-containers">
    <h3>JSON Viewer</h3>
    <ng-container *ngIf="!isError else errormessage">
      <app-tree-view [data]="data" *ngIf="data"></app-tree-view>
    </ng-container>

  </div>

</div>

<ng-template #errormessage>
  <div>
    <p>Unable to parse JSON input ....</p>
  </div>
</ng-template>